* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
/* Header */

.header_container {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 90px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  display: flex;
  flex-flow: row wrap;
  padding: 25px;
  justify-content: center;
  background-color: rgb(1, 21, 44);
}
.header_container .header_logo {
  margin-right: 250px;
}
.header_container .header_logo a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center !important;
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-size: 26px;
}
.header_container .header_nav {
  display: flex;
}
.header_container .header_nav .nav-item .nav-link {
  color: white;
  margin-top: 5px;
}
.header_container .header_nav .nav-item .nav-link.active {
  background-color: #00000000;
  color: #ff6e65;
}

.nav_search .search_input input {
  border-radius: 30px;
  font-size: 15px;
  width: 80%;
  padding: 10px 35px 10px 14px;
  background: transparent;
  border: 2px solid #eee;
  margin-bottom: 5px;
}
.header_nav .nav_search {
  position: relative !important;
}
.header_nav .nav_search .btn-primary {
  position: absolute !important;
  background-color: #00000000;
  border-color: #00000000;
  color: #0563cf;
  right: 0;
  top: 0;
  margin-right: 55px;
  margin-top: 5px;
}

/* Darkmode */
/* Light theme */
#myBody {
  background-color: black;
}
#switchButton {
  background-color: white;
}
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}

/* Dark Theme*/
.dark#myBody {
  background-color: white;
}
.dark #switchButton {
  background-color: black;
}
.dark #switchButton .fa-sun {
  display: block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}
.dark .card {
  background-color: black;
  color: white;
}
.header_container #switchButton {
  background-color: #00000000;
  border-color: #00000000;
}

/* Banner */
.banner {
  background-color: #161c2d;
  /* position: absolute; */
}
.banner_top {
}
.banner_top .carousel-inner .carousel-caption {
  max-width: 600px;
  left: 100px;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 80px;
  z-index: 1;
}
.banner_top .carousel-inner .carousel-caption h1 {
  font-size: 70px;
  line-height: 80px;
  font-weight: bold;
  color: #fff;
  text-align: start;
}
.banner_top .carousel-inner .carousel-caption a {
  padding: 14px 30px;
  background-color: #fff;
  color: #060606;
  border-radius: 4px;
  width: 150px;
}
.banner_top .carousel-indicators {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  margin-right: 0;
  margin-left: -180px;
  margin-bottom: 110px;
}
.banner_top .carousel-indicators li {
  margin-bottom: 10px;
}
.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

/* Banner bot */
.banner_bottom {
  position: relative;
  margin-top: -70px;
  padding-bottom: 48px;
}
.banner_bottom .bot_container {
  display: flex;
  flex-direction: row;
}
.banner_bottom .bot_item {
  height: 230px;
  padding: 50px 35px;
  background-color: #0563cf;
  width: 25%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-right: 15px;
}
#bot1 {
  background-color: #ffc949;
}
#bot2 {
  background-color: #ff4f81;
}
#bot3 {
  background-color: #1ee697;
}

.banner_bottom .bot_item i {
  color: white;
  font-size: 48px;
  margin-bottom: 15px;
}
.banner_bottom .bot_item a {
  color: white;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
}
.banner_bottom .bot_item a:hover {
  color: #060606;
  transition: 0.5s;
}

/* Welcome */
.welcome {
  background-color: #161c2d;
  color: white;
}
.welcome .title-main {
  font-size: 38px;
}
.welcome .title-main span {
  color: #ff6e65;
  font-size: 40px;
}
.w3l-feature-8 .feature-images span {
  color: #4867b0;
  font-size: 30px;
  background: rgb(168 176 195 / 11%);
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
}

.w3l-feature-8 h3.feature-titel {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: white;
}
.w3l-feature-8 h3.feature-titel:hover {
  text-decoration: none;
}

.w3l-feature-8 p.feature-text {
  margin-top: 15px;
  color: #b7b7b7;
}

/* Course */
