* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
/* Header */

.header_container {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 90px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  display: flex;
  flex-flow: row wrap;
  padding: 25px;
  justify-content: center;
  background-color: rgb(1, 21, 44);
}
.header_container .header_logo {
  margin-right: 250px;
}
.header_container .header_logo a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center !important;
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-size: 26px;
}
.header_container .header_nav {
  display: flex;
}
.header_container .header_nav .nav-item .nav-link {
  color: white;
  margin-top: 5px;
}
.header_container .header_nav .nav-item .nav-link.active {
  background-color: #00000000;
  color: #ff6e65;
}

.nav_search .search_input input {
  border-radius: 30px;
  font-size: 15px;
  width: 80%;
  padding: 10px 35px 10px 14px;
  background: transparent;
  border: 2px solid #eee;
  margin-bottom: 5px;
}
.header_nav .nav_search {
  position: relative !important;
}
.header_nav .nav_search .btn-primary {
  position: absolute !important;
  background-color: #00000000;
  border-color: #00000000;
  color: #0563cf;
  right: 0;
  top: 0;
  margin-right: 55px;
  margin-top: 5px;
}

/* Darkmode */
/* Light theme */
#myBody {
  background-color: black;
}
#switchButton {
  background-color: white;
}
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}

/* Dark Theme*/
.dark#myBody {
  background-color: white;
}
.dark #switchButton {
  background-color: black;
}
.dark #switchButton .fa-sun {
  display: block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}
.dark .card {
  background-color: black;
  color: white;
}
.header_container #switchButton {
  background-color: #00000000;
  border-color: #00000000;
}

/* Banner */

.banner .carousel-inner .carousel-caption {
  max-width: 600px;
  left: 100px;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 80px;
}
.banner .carousel-inner .carousel-caption h1 {
  font-size: 70px;
  line-height: 80px;
  font-weight: bold;
  color: #fff;
  text-align: start;
}
.banner .carousel-inner .carousel-caption a {
  padding: 14px 30px;
  background-color: #fff;
  color: #060606;
  border-radius: 4px;
  width: 150px;
}
.banner .carousel-indicators {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  margin-right: 0;
  margin-left: -180px;
  margin-bottom: 110px;
}
.banner .carousel-indicators li {
  margin-bottom: 10px;
}
.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}
