* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body a:visited,
body a:hover {
  text-decoration: none;
}
/* Start header  */
/* header top  */

header .top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
}
.header__logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 26px;
  color: #dc4f72;
}
.header__logo a:visited {
  color: #dc4f72;
}
.header__logo p {
  padding-top: 12px;
  margin-left: 7px;
}
.header__nav {
  display: flex;
}
.header__nav .nav-item {
  position: relative;
}
.header__nav a {
  color: black;
}

.top .nav-item {
  margin: 0 1.25rem;
}
.top .nav-link {
  padding: 0;
  transition: 0.3s;
}
.header__nav .nav-item::before {
  width: 0px;
  height: 3px;
  position: absolute;
  bottom: -1px;
  content: "";
  background: #dc4f72;
  transition: 0.3s;
}
.top .nav-item:hover {
  cursor: pointer;
}
.top .nav-item:hover::before {
  width: 20px;
}
.top .nav-item:hover a {
  color: #dc4f72;
}
.header__nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-pills .nav-link.active {
  color: #dc4f72;
  background-color: transparent;
}
.top button {
  height: 50px;
  width: 195px;
  border-radius: 5px;
  border: solid 1px;
  background-color: transparent;
  font-weight: 500;
  font-size: 15px;
  color: #dc4f72;
  transition: 0.3s;
}
.top button:hover {
  color: white;
  background-color: #dc4f72;
}
.top .nav-item .dropdown-toggle:focus {
  background-color: white;
  color: black;
}
.dropdown-menu:hover {
  background-color: transparent;
  color: black;
}
.dropdown-item {
  position: relative;
  color: black !important;
  transition: 0.5s;
}

.dropdown-item::before {
  width: 0px;
  height: 3px;
  position: absolute;
  bottom: -1px;
  content: "";
  background: #dc4f72;
  transition: 0.3s;
}
.dropdown-item:hover::before {
  width: 20px;
}
.dropdown-item:hover {
  color: #dc4f72 !important;
  background-color: transparent;
}
/* header top  */

/* End header  */
/* Start mid1 */
.mid1 {
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
    url(../img/banner.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 7rem;
  padding-top: 5rem;
}
.mid1__content {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
}
.mid1__left {
  width: 50%;
}
.mid1__left h2 {
  font-size: 3.125rem;
}
.mid1__left p {
  margin-top: 15px;
  font-size: 1.25rem;
}
.mid1__right {
  width: 50%;
}
.mid1 button {
  height: 50px;
  width: 150px;
  border-radius: 5px;
  border: solid 1px;
  background-color: transparent;
  font-weight: 500;
  font-size: 15px;
  color: #dc4f72;
  transition: 0.3s;
  margin-top: 30px;
}
.mid1 button:hover {
  color: white;
  background-color: #dc4f72;
}

/* End mid1 */

/* Start mid2 */
.mid2 {
  padding: 80px 0;
}
.mid2__content {
  width: 80%;
  margin: auto;
  text-align: center;
}
.mid2__content p:first-child {
  color: #dc5880;
  font-weight: 700;
}
.mid2__content h2 {
  font-size: 46px;
  font-weight: 700;
}
.mid2__content p:last-child {
  font-weight: 300;
}
.mid2__content .mid2__card {
  width: calc(100% / 3);
  background-color: #f7f9fc;
  padding: 50px;
  transition: 0.3s;
  margin: 0 15px;
}
.mid2__info {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
.mid2__card h2 {
  font-size: 26px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.mid2__card:hover {
  transform: translateY(-10px);
  background-color: white;
  box-shadow: 1px 1px 30px grey;
}
/* End mid2 */

/* Start mid3 */
.mid3 {
  padding: 80px 0;
  background-color: #f7f9fc;
}
.mid3__content {
  width: 80%;
  margin: auto;
}
.top {
  display: flex;
  justify-content: center;
}
.mid3 .top__left {
  width: 60%;
}
.mid3 .top__left p:first-child {
  color: #de5f80;
  font-weight: 700;
}
.mid3 .top__left h2 {
  margin-bottom: 20px;
  font-weight: 700;
}
.mid3 .top__left button {
  color: white;
  background-color: rgb(220, 79, 114, 0.9);
  transition: 0.3s;
  margin-top: 40px;
}
.mid3 .top__left button:hover {
  background-color: rgb(220, 79, 114, 1);
}
.mid3 .top__right {
  width: 40%;
}
.mid3 .top__right img {
  width: 525px;
  height: 350px;
  border-radius: 7px;
  transition: 0.3s;
}
.mid3 .top__right img:hover {
  transform: translateY(-10px);
}
.mid3 .bottom .number__content {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.mid3 .bottom .number__item {
  width: calc(100% / 3);
  padding: 30px;
  margin: 0 20px;
  background-color: white;
  transition: 0.3s;
  border-radius: 10px;
}
.mid3 .bottom .number__item:hover {
  box-shadow: 1px 1px 10px grey;
}
.mid3 .bottom .number__item p:first-child {
  font-weight: 700;
}
.mid3 .bottom .number__item h2 {
  color: #de5f80;
  font-size: 50px;
  font-weight: 700;
}
/* End mid3 */
/* Start mid4 */
.mid4 {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.mid4__content {
  background-color: rgb(0, 0, 0, 0.5);
  padding: 100px 0;
  color: white;
}
.mid4__text {
  width: 80%;
  margin: auto;
}
.mid4__text p {
  margin-top: 30px;
  margin-bottom: 40px;
}
.mid4__text button {
  height: 50px;
  width: 150px;
  border-radius: 5px;
  border: none;
  background-color: rgb(255, 255, 255, 1);
  font-weight: 500;
  font-size: 15px;
  color: black;
  transition: 0.3s;
}
.mid4__text button:hover {
  background-color: rgb(255, 255, 255, 0.9);
}
/* End mid4 */
/* Start mid5 */
.mid5 {
  padding: 80px 0;
}
.mid5__content {
  width: 80%;
  margin: auto;
  text-align: center;
}
.mid5__content .p1 {
  color: #dc4f72;
  font-weight: 700;
}
.mid5__content h2 {
  font-size: 46px;
  font-weight: 700;
}
.mid5__content .p2 {
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 80px;
}
.content__info {
  display: flex;
}
.content__info .card {
  position: relative;
  text-align: left;
  border-radius: 8px;
  transition: 0.3s;
  margin: 0 20px;
}
.content__info .card img {
  border-radius: 8px 8px 0 0;
  filter: grayscale(100%) contrast(100%);
  transition: 0.3s;
}
.mid5__content .content__info .card .bar1 {
  width: 135px;
  height: 55px;
  background-color: #dc4f72;
  color: white;
  line-height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 700;
  border-radius: 0 8px 0 0;
  text-align: center;
}
.content__info .card .bar2 .p3 {
  width: 80px;
  height: 30px;
  background-color: #fcdfe4;
  color: #dc4f72;
  text-align: center;
  line-height: 30px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
}
.content__info .card .bar2 .p4 {
  width: 80px;
  height: 30px;
  background-color: #cce6cc;
  color: #339863;
  text-align: center;
  line-height: 30px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
}
.content__info .card .bar2 .p5 {
  width: 80px;
  height: 30px;
  background-color: #ccccff;
  color: #070eff;
  text-align: center;
  line-height: 30px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
}
.content__info .card-title {
  margin-top: 15px;
  margin-bottom: 20px;
  color: black;
}
.content__info a {
  color: #dc4f72;
}
.content__info .card:hover {
  transform: translateY(-10px);
  background-color: white;
  box-shadow: 1px 1px 30px grey;
}
.content__info .card:hover .card-title {
  color: #dc4f72;
}
.content__info .card i {
  transition: 0.3s;
}
.content__info .card:hover i {
  transform: translateX(5px);
}
.content__info .card:hover img {
  filter: grayscale(0%) contrast(100%);
}
/* End mid5 */
/* Start mid6 */
.mid6 {
  background-color: #f7f9fc;
  padding: 80px 0;
}
.mid6__content {
  width: 80%;
  margin: auto;
  text-align: center;
}
.mid6__content p:first-child {
  color: #dc5880;
  font-weight: 700;
}
.mid6__content h2 {
  font-size: 46px;
  font-weight: 700;
}
.mid6__content p:last-child {
  font-weight: 300;
}
.mid6__content .content__info {
  margin-top: 80px;
}
.mid6__content .content__info .info__left {
  width: 40%;
}
.mid6__content .content__info .info__left .left__img {
  position: sticky;
  top: 0;
}
.mid6__content .content__info .info__right {
  width: 60%;
}
.mid6__card {
  width: 625px;
  height: 70px;
  border: solid 1px;
  position: relative;
  overflow: hidden;
}
.mid6__card p:last-child {
  position: absolute;
  top: 100px;
}
/* End mid6 */
/* Mobile  */
@media only screen and (max-width: 46.25rem) {
  /* header  */
  header .top {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2.5rem;
  }
  .header__logo {
    font-size: 2rem;
  }
  .header__nav {
    display: none;
  }
  /* mid1  */
  .mid1 {
    width: 100%;
  }
  .mid1__content {
    width: 100%;
    display: inline;
  }
  .mid1__left {
    width: 100%;
    text-align: center;
  }

  .mid1__right {
    width: 100%;
  }
}
/* Tablet */
@media only screen and (min-width: 46.25rem) and (max-width: 63.9375rem) {
  /* header  */
  header .top {
    flex-direction: column;
  }
  .header__nav {
    flex-direction: column;
    align-items: center;
    margin-left: 5rem;
  }
  header .top {
    justify-content: flex-start;
  }
  /* mid1  */
  .mid1__content {
    width: 90%;
  }
  .mid1__right img {
    width: 100%;
    height: 100%;
  }
  /* mid2  */
  .mid2__content {
    width: 90%;
    margin: auto;
    text-align: center;
  }
}
