* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* header  */
header {
  background-color: white;
  margin-top: 40px;
  transition: 0.5s;
}
header .navbar-brand {
  font-size: 34px;
  font-weight: 700;
  color: #189a46;
}
nav {
  position: relative;
}
.nav-link,
.dropdown-item {
  color: black;
  font-size: 19.2px;
  position: relative;
  transition: 0.5s;
}
.nav-link.active {
  color: #189a46;
}
.nav-link::before {
  content: "";
  width: 0px;
  height: 1px;
  background-color: green;
  position: absolute;
  top: 40px;
  left: 0;
  transition: 0.5s;
}
.dropdown-item::before {
  content: "";
  width: 0px;
  height: 1px;
  background-color: green;
  position: absolute;
  top: 40px;
  left: 20px;
  transition: 0.5s;
}
.nav-link:hover,
.dropdown-item:hover {
  color: #189a46;
}
.nav-link:hover::before {
  width: 100%;
}
.dropdown-item:hover::before {
  width: 70%;
}
.navbar-toggler {
  border: none;
  background-color: transparent;
  padding: 0 0;
  width: 55px;
  height: 55px;
  margin-top: 0;
}
.navbar-toggler:focus {
  outline: none;
}
button.navbar-toggler.collapsed .icon-expand {
  display: block;
}
button.navbar-toggler.collapsed .icon-close {
  display: none;
}
button.navbar-toggler .icon-expand {
  display: none;
}
button.navbar-toggler .icon-close {
  display: block;
}
.navbar-toggler-icon i {
  background-color: #189a46;
  color: white;
  height: 28px;
  width: 28px;
  line-height: 30px;
  border-radius: 5px;
}
.navbar-nav {
  align-items: center;
}
#switchButton {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 250px;
}
#switchButton:focus {
  outline: none;
}
#switchButton .fa-sun {
  display: none;
}
.fa-moon {
  color: black;
}
.fa-sun {
  color: white;
}
/* Mobile  */
@media only screen and (max-width: 46.25rem) {
  #switchButton {
    position: absolute;
    top: 15px;
    right: 20px;
  }
}
/* Tablet */
@media only screen and (min-width: 46.25rem) and (max-width: 63.9375rem) {
  #switchButton {
    position: absolute;
    top: 12px;
    right: 40px;
  }
}
/* header  */
/* carousel */

.mid1 .bg1 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/banner1.jpg);

  background-size: cover;
  background-position: center;

  /* 100vh-40px */
  height: 100vh;
  margin-top: -40px;
  padding-top: 40px;
}
.mid1 h2 {
  margin-top: 200px;
  font-size: 52px;
  font-weight: 700;
  color: white;
}
.mid1 p {
  font-size: 15px;
  color: white;
  font-weight: 500;
}
.mid1 button {
  width: 155px;
  height: 55px;
  border-radius: 10px;
  border: solid 2px white;
  background-color: transparent;
  margin-right: 10px;
  margin-top: 30px;
  color: white;
  font-weight: 500;
  transition: 0.5s;
}
.mid1 button.active {
  color: #189a46;
  background-color: white;
}
.mid1 button:hover {
  color: #189a46;
  background-color: white;
}
.mid1 .bg2 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/banner2.jpg);

  background-size: cover;
  background-position: center;
  /* 100vh-40px */
  height: 100vh;
  margin-top: -40px;
  padding-top: 40px;
}
.mid1 .bg2__text,
.mid1 .bg4__text {
  margin-left: 40%;
}
.mid1 .bg3 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/banner3.jpg);

  background-size: cover;
  background-position: center;

  /* 100vh-40px */
  height: 100vh;
  margin-top: -40px;
  padding-top: 40px;
}
.mid1 .bg4 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/banner4.jpg);

  background-size: cover;
  background-position: center;

  /* 100vh-40px */
  height: 100vh;
  margin-top: -40px;
  padding-top: 40px;
}

.mid1 .carousel-indicators {
  margin: auto;
  margin-bottom: 30px;
}
.mid1 .carousel-indicators li.active {
  background-color: #189a46;
  width: 40px;
  height: 10px;
  border-radius: 20px;
}
.mid1 .carousel-indicators li {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  border: 0px solid transparent;
  background-color: white;
  opacity: 1;
  display: inline-block;
}
.mid1 .carousel-indicators li:hover {
  background-color: #189a46;
  width: 40px;
  height: 10px;
  border-radius: 20px;
}
/* Mobile  */
@media only screen and (max-width: 46.25rem) {
  .mid1 h2 {
    font-size: 30px;
    margin-top: 100px;
  }
  .mid1 .bg1,
  .mid1 .bg2,
  .mid1 .bg3,
  .mid1 .bg4 {
    height: 90vh;
  }
  .mid1 .bg2__text,
  .mid1 .bg4__text {
    margin-left: 0;
  }
}
/* Tablet */
@media only screen and (min-width: 46.25rem) and (max-width: 63.9375rem) {
  .mid1 .bg1,
  .mid1 .bg2,
  .mid1 .bg3,
  .mid1 .bg4 {
    height: 60vh;
  }
  .mid1 h2 {
    font-size: 50px;
    margin-top: 180px;
  }
  .mid1 .bg2__text,
  .mid1 .bg4__text {
    margin-left: 0;
  }
}
/* carousel */
/* About us */
.mid2 {
  padding: 50px 0;
}
.mid2__content {
  text-align: center;
}

.mid2 .p1 {
  font-size: 18px;
  color: #f64776;
}
.mid2 h2 {
  font-size: 40px;
  font-weight: 700;
}
.mid2 .p2 {
  color: #696969;
  margin-top: 30px;
  margin-bottom: 30px;
}
.mid2 a {
  color: black;
  transition: 0.5s;
  position: relative;
  font-weight: 700;
}
.mid2 a:hover {
  color: #189a46;
  text-decoration: none;
}
.mid2 a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: green;
}

/* About us */
/* Cards  */
.mid3 {
  padding: 80px 0;
  background-color: #f9f7fe;
}
.mid3__card {
  background-color: transparent;
  margin-top: 30px;
}
.mid3__card__text {
  background-color: white;
  transition: 0.5s;
  padding: 40px 30px;
  border-radius: 10px;
}
.mid3__card__text:hover {
  background-color: #f3effd;
}
.mid3__card i {
  color: #189a46;
  font-size: 30px;
  font-weight: 100;
}
.mid3__card h2 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 10px;
}
.mid3__card h2:hover {
  color: #189a46;
  cursor: pointer;
}
.mid3__card p {
  color: #696969;
}
.mid3 a {
  color: black;
  transition: 0.5s;
  position: relative;
  font-weight: 700;
}
.mid3 a:hover {
  color: #189a46;
  text-decoration: none;
}
.mid3 a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: green;
}
.mid3 svg {
  color: #189a46;
  height: 30px;
  width: 24px;
}
/* Cards  */
/* Why choose us */
.mid4 {
  padding: 80px 0;
}
.mid4 img {
  border-radius: 10px !important;
  height: 100%;
  max-width: 100%;
}
.mid4__text {
  padding: 80px 30px;
}
.mid4 .p1 {
  font-size: 18px;
  color: #f64776;
}
.mid4 h2 {
  font-size: 40px;
  font-weight: 700;
}
.mid4 .p2 {
  color: #696969;
  margin-top: 30px;
  margin-bottom: 30px;
}
.mid4 li {
  list-style: none;
  font-weight: 500;
  position: relative;
  margin-top: 20px;
  margin-left: 30px;
}
.mid4__li__content {
  height: 25px;
  width: 25px;
  background-color: #f9f7fe;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mid4__li__content i {
  font-size: 12px;
  color: #189a46;
}
/* Why choose us */
/* Number */
.mid5 {
  padding-top: 80px;
  padding-bottom: 60px;
  background-color: #189a46;
}
.mid5 .number__item {
  text-align: center;
}
.mid5 h2 {
  font-size: 50px;
  font-weight: 700;
  color: white;
}
.mid5 p {
  color: white;
  font-weight: 700;
}

/* Number */
/* Our plans */
.mid6 {
  background-color: #f9f7fe;
  padding: 50px 0;
  text-align: center;
}
.mid6__top p {
  font-size: 25px;
  color: #f53626;
  font-weight: 700;
}
.mid6__top h2 {
  font-size: 40px;
  font-weight: 700;
}
.mid6__card {
  background-color: white;
  padding: 60px 70px;
  margin-top: 80px;
  border-radius: 7px;
  margin-bottom: 80px;
}
.mid6__card i {
  font-size: 25px;
  color: #189a46;
  position: relative;
  top: -15px;
  left: 0;
}
.mid6__card #card__number {
  color: #189a46;
  font-size: 40px;
  font-weight: 700;
}
.mid6__card #month {
  color: #696969;
  font-weight: 300;
}
.mid6__card li {
  list-style: none;
  color: #696969;
  margin-top: 20px;
}
button {
  height: 55px;
  width: 140px;
  background-color: #189a46;
  border: solid 1px transparent;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  margin-top: 10px;
  transition: 0.5s;
}
.mid6__card button:hover {
  background-color: #116e32;
}
.mid6__card__mid {
  padding: 0;
  margin-top: 40px;
  box-shadow: 0 10px 30px 0 rgb(17 17 17 / 9%);
}
.mid6__card__mid i {
  font-size: 25px;
  color: #189a46;
  position: relative;
  top: -15px;
  left: 0;
}
.save {
  width: 120px;
  height: 40px;
  position: absolute;
  top: 50px;
  left: 120px;
  line-height: 40px;
  border-radius: 10px;
  background-color: white;
  color: #116e32;
  font-weight: 700;
}

.mid6__card__top {
  background-color: #189a46;
  height: 250px;
  position: relative;
  padding-top: 120px;
  border-radius: 7px 7px 0 0;
}
.mid6__card__bottom {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 80px;
  border-radius: 0 0 7px 7px;
}
.mid6__card__mid h2 {
  color: white;
}
.mid6__card__mid i {
  color: white;
}
.mid6__card__mid #card__number {
  color: white;
  font-size: 40px;
  font-weight: 700;
}
.mid6__card__mid #month {
  color: white;
  font-weight: 300;
}
.mid6__card__mid li {
  list-style: none;
  color: #696969;
  margin-bottom: 20px;
}
/* Mobile  */
@media only screen and (max-width: 46.25rem) {
}
/* Tablet */
@media only screen and (min-width: 46.25rem) and (max-width: 63.9375rem) {
  .save {
    left: 300px;
  }
}
/* Our plans */
/* Better Pet Nutrition */
.mid7 {
  padding: 100px 0;
  text-align: center;
}
.mid7 .p1 {
  font-size: 18px;
  color: #f64776;
}
.mid7 h2 {
  font-size: 40px;
  font-weight: 700;
}
.mid7 .p2 {
  color: #696969;
  margin-top: 30px;
  margin-bottom: 30px;
}
.mid7__bottom {
  position: relative;
}
.mid7__bottom img {
  width: 80%;
  border-radius: 10px;
}
.mid7__bottom i {
  font-size: 60px;
  color: white;
}
.mid7__bottom .bot__icon {
  background-color: rgb(24, 154, 70, 0.5);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: absolute;
  top: 200px;
  left: 530px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: ripple linear infinite 1s;
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.164),
      0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
  }

  100% {
    box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25),
      0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}
.white-popup {
  position: relative;
  background: black;
  max-width: 700px;
  margin: auto;
}
iframe {
  width: 100%;
}
/* Mobile  */
@media only screen and (max-width: 46.25rem) {
  .mid7__bottom .bot__icon {
    top: 30px;
    left: 120px;
  }
}
/* Tablet */
@media only screen and (min-width: 46.25rem) and (max-width: 63.9375rem) {
  .mid7__bottom .bot__icon {
    top: 100px;
    left: 310px;
  }
}
/* Better Pet Nutrition */
/* Testimonial */
.mid8 {
  padding: 80px 0;
  text-align: center;
  background-color: #f9f7fe;
}
.mid8__top .p1 {
  font-size: 18px;
  color: #f64776;
}
.mid8__top h2 {
  font-size: 40px;
  font-weight: 700;
}
.mid8__bot {
  text-align: left;
  color: #696969;
}
.mid8__bot .item {
  background-color: white;
  border-radius: 10px;
  padding: 40px 20px 30px 20px;
}
.mid8__bot .item__top .fa-quote-left {
  font-size: 30px;
  color: #189a46;
}
.mid8-icon {
  display: inline-block;
}
.mid8 .item__bot {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.mid8 .bot__img {
  height: 70px;
  width: 70px;
}
.mid8 .bot__img img {
  border-radius: 50%;
}
.mid8 .bot__text {
  margin-left: 10px;
  padding-top: 10px;
}
.mid8 .bot__text .p1 {
  color: black;
  font-weight: 700;
  margin-bottom: 0;
}
.mid8 .bot__text .p2 {
  margin-top: 0;
}
.mid8 .owl-theme .owl-dots .owl-dot {
  margin: auto;
  margin-bottom: 30px;
}
.mid8 .owl-theme .owl-dots .owl-dot.active,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #189a46;
  width: 40px;
  height: 10px;
  border-radius: 20px;
}
.mid8 .owl-theme .owl-dots .owl-dot {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  border: 0px solid transparent;
  background-color: #dbdbdc;
  opacity: 1;
  display: inline-block;
  transition: none;
}
.mid8 .owl-theme .owl-dots .owl-dot:hover {
  background-color: #189a46;
  width: 40px;
  height: 10px;
  border-radius: 20px;
}
.owl-theme .owl-dots .owl-dot span {
  display: none;
}
.mid8 .owl-theme .owl-dots .owl-dot:focus {
  outline: none;
}
/* Mobile  */
@media only screen and (max-width: 46.25rem) {
  .mid8 .owl-theme .owl-dots .owl-dot {
    display: none;
  }
}
/* Tablet */
@media only screen and (min-width: 46.25rem) and (max-width: 63.9375rem) {
}
/* Testimonial */
/* Stay updated */
.mid9 {
  padding: 80px 0;
  text-align: center;
}
.mid9__content {
  max-width: 600px;
}
.mid9 p {
  color: #696969;
}
.mid9__bot {
  width: 100%;
  margin: auto;
}
.mid9__bot input {
  width: 100%;
  height: 55px;
  border-radius: 10px;
  border: solid 1px #696969;
  padding: 10px;
  margin: 20px auto;
}
.mid9__bot input:focus {
  border: solid 1px #189a46;
  outline: #189a46;
}
.mid9 button {
  margin-top: 20px;
}
/* Stay updated */
/* footer */
.footer {
  background-color: #111111;
  padding: 80px 0 30px 0;
}
.footer__item h2 {
  color: white;
  font-size: 20px;
}
.footer__item li {
  color: #696969;
  list-style: none;
  padding-top: 10px;
}
.footer__item li a:visited {
  color: #696969;
}
.footer__item li a:hover {
  color: white;
}
.footer__item li span {
  font-weight: 700;
}
.footer__item li i {
  margin-right: 20px;
}
.footer hr {
  width: 100%;
  background: #1d1c1c;
  margin-top: 50px;
}
.footer__bot {
  text-align: center;
  margin-top: 40px;
}
.footer__bot p {
  color: #5b6566;
}
.footer__bot a:visited {
  color: red;
}
/* footer */
/* dark mode */
.dark #switchButton .fa-moon {
  display: none;
}
.dark #switchButton .fa-sun {
  display: block;
}
/* header  */
.dark header {
  background-color: #151515;
}
.dark .nav-link {
  color: white;
}
.dark .nav-link.active {
  color: #189a46;
}
.dark .dropdown-menu {
  background-color: #151515;
}
.dark .dropdown-item {
  color: white;
}
.dark .dropdown-item:hover {
  background: #151515;
}
/* mid2  */
.dark .mid2 {
  background-color: #151515;
}
.dark .mid2 h2,
.dark .mid2 a {
  color: white;
}
.dark .mid2 .p2 {
  color: #878379;
}
.dark .mid2 a:hover {
  color: #116e32;
}
/* mid3  */
.dark .mid3 {
  background-color: #222222;
}
.dark .mid3__card__text {
  background-color: #151515;
}
.dark .mid3__card h2,
.dark .mid3 a {
  color: white;
}
.dark .mid3 a:hover {
  color: #116e32;
}
.dark .mid3__card__text:hover {
  background-color: transparent;
}
/* mid4  */
.dark .mid4 {
  background-color: #151515;
}
.dark .mid4 h2,
.dark .mid4 li {
  color: white;
}
.dark .mid4__li__content {
  background-color: #222222;
}
/* mid6  */
.dark .mid6 {
  background-color: #222222;
}
.dark .mid6__top h2,
.dark .mid6__card h2 {
  color: white;
}
.dark .mid6__card,
.dark .mid6__card__bottom {
  background-color: #151515;
}
.dark .mid6__card li,
.dark .mid6__card__bottom li,
.dark .mid6__card #month {
  color: #a0afa0;
}
/* mid7  */
.dark .mid7 {
  background-color: #151515;
}
.dark .mid7 h2 {
  color: white;
}
/* mid8  */
.dark .mid8 {
  background-color: #222222;
}
.dark .mid8 .item {
  background-color: #151515;
}
.dark .mid8 .bot__text .p1,
.dark .mid8__top h2 {
  color: white;
}
/* mid9  */
.dark .mid9 {
  background-color: #151515;
}
.dark .mid9 h2 {
  color: white;
}
